{% extends "movie/base.html" %}
{% block content %}
    <style>
        #carousel-example-generic {
            width: 1070px;
            margin-bottom: 10px;
        }

        .item{
            display: block;
            float: left;
            font-size: 15px;
            text-align: center;
            {#margin:0 25px 10px 0;#}
            margin: 20px 0 0 10px;
            width: 200px;
        }
        .carousel-inner>.item{
            margin: 0;
        }
        .item .poster_div{
            height: 320px;
            overflow: hidden;
        }


        .carousel-inner>.item {
            width: 100%;
        }

        .carousel-inner>.item>img {
            width: 100%;
            height: 400px;
            display: block;
        }





    </style>
    <div class="container">
    {#        <div class="jumbotron">#}
    {#            <h1>Introduction</h1>#}
    {#            <p>Some movies will be displayed on the homepage, and the top 100 movies with the highest ratings will be displayed for popular movies. You can click on any movie to view its detailed introduction.</p>#}
    {#            <p>You can rate movies.After rating more than 10 movies, you can check the recommendation results.</p>#}
    {#            <p>Use "Movie Classification" or "Search" to help you find movies</p>#}
    {#        </div>#}
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/static/movie/logo.png" alt="...">
              <div class="carousel-caption">

              </div>
            </div>
            <div class="item">
              <img src="/static/movie/yi.jpg" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
          <div class="item">
              <img src="/static/movie/avatar.jpg" alt="...">
              <div class="carousel-caption">
              </div>
            </div>

          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </div>
    <!--展示电影图片用-->
    <div class="container">

        {% for movie in movies %}
            <a href="{% url 'movie:detail' movie.pk %}" class="item">
            <div class="poster_div">
                <img src="/static/movie/poster/{{ movie.imdb_id }}.jpg" alt="">
                <p>{{ movie.name }}
                    <strong style="color:#e09015">{{ movie.get_score }}</strong>
                </p>
            </div>
            </a>
        {% endfor %}
    </div>

    <!-- nav视图分页用 不用管-->
    <nav style="text-align: center;">
        <ul class="pagination">
            {#previous page#}
            {% if page_obj.has_previous %}
                <li><a href="{% url 'movie:index' %}?p={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">Previous</a></li>
            {% endif %}

            {% if left_has_more %}
                <li><a href="{% url 'movie:index' %}?p=1">1</a></li>
                <li><a href="javascript:void(0)">...</a></li>
            {% endif %}

            {#        左边的page#}
            {% for left_page in left_pages %}
                <li><a href="{% url 'movie:index' %}?p={{ left_page }}">{{ left_page }}</a></li>
            {% endfor %}

            {#    当前的page#}
            <li class="active"><a href="javascript:void(0);">{{ current_page }}</a></li>

            {#     右边的page#}
            {% for right_page in right_pages %}
                <li><a href="{% url 'movie:index' %}?p={{ right_page }}">{{ right_page }}</a></li>
            {% endfor %}
            {% if right_has_more %}
                <li><a href="javascript:void(0)">...</a></li>
                <li><a href="{% url 'movie:index' %}?p={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            {#next page#}
            {% if page_obj.has_next %}
                <li><a href="{% url 'movie:index' %}?p={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0);">Previous</a></li>
            {% endif %}
        </ul>
    </nav>


{% endblock %}